<html>

<head>

</head>

<body>
	<link rel="stylesheet" href="main.css">
	<div id="wrapper">
		<div id="state-display">
			<div id="status-text">Current status:</div>
			<div id="status">unknown</div>
			<div id="tags-text">Current tags:</div>
			<div id="tags">unknown</div>
			<div>Device Status:</div>
			<div id="device-status">unknown</div>
			<div>Call event status:</div>
			<div id="websocket-status">unknown</div>
		</div>
		<div id="settings-box">
			<div>Ringtone</div>
			<div><select id="ringtone">
				<option>OpenOffice</option>
				<option>Quiet</option>
				<option>Funky</option>
				<option>FairyTale</option>
				<option>KuandoTrain</option>
				<option>TelephoneNordic</option>
				<option>TelephoneOriginal</option>
				<option>TelephonePickMeUp</option>
				<option>Buzz</option>
			</select></div>
			<div>Volume</div>
			<div><select id="volume">
				<option>0</option>
				<option>1</option>
				<option>2</option>
				<option>3</option>
				<option>4</option>
				<option>5</option>
				<option>6</option>
				<option>7</option>
			</select></div>
			<div class='button' id='ringtone-test-button'>Test</div>
		</div>
		<div id="app-controlls">
			<div class='button' id='save-button'>Save</div>
			<div class='button' id='reload-button'>Reload</div>
			<div class='button' id='logout-button'>Log Out</div>
		</div>
	</div>
	<script>
		require('./main.js');
	</script>
</body>

</html>